/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custome style */

body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.container {
  padding: 16px 48px;
}

/* header style */

.header {
  background-color: rgb(21, 16, 41);
}
.flex {
  display: flex;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
  margin-left: 20px;
  color: white;
}
span {
  margin-left: 10px;
}

/* main style */

.aside {
  background-color: rgb(106, 221, 236);
  height: 600px;
  width: 300px;
  /* padding: 16px 32px; */
  border-radius: 14px;
}

.nav_1 {
  padding: 20px 40px;
}
.nav_1 a {
  text-decoration: none;
  vertical-align: middle;
}

.nav_2 {
  padding: 15px 40px;
}
.nav_2 a {
  text-decoration: none;
  margin-right: 90px;
  color: orangered;
}
.box {
  width: 280px;
  height: 50px;
  border: 2px solid orangered;
  margin-left: 8px;
  border-radius: 7px;
}
.btn {
  width: 250px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid white;
  margin-left: 20px;
  margin-top: 210px;
}

.div-logo {
  display: flex;
  justify-content: flex-start;
}
.div-logo a {
  text-decoration: none;
}
.flex-48 {
  flex: 0 1 48%;
}
/* .sample {
  border: 1px solid black;
} */
.flex-body {
  display: flex;
  justify-content: space-evenly;
}
h1 {
  font-size: 42px;
}
.btn-1 {
  color: white;
  background-color: green;
  height: 50px;
  width: 200px;
  border: 1px solid green;
  border-radius: 4px;
  margin-top: 20px;
}
.article-1 {
  background-color: silver;
  width: 700px;
  height: 600px;
  border: 20px solid silver;
  border-radius: 16px;
  margin-right: 300px;
}
.article-1 img {
  width: 600px;
  height: 400pxs;
}

/* footer */

.footer-nav a {
  color: silver;
  margin-left: 24px;
  font-size: 20px;
}
small {
  color: silver;
  font-size: 20px;
}
